tensorflow
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
nltk
langchain-community
uvicorn
fastapi
langserve
langchain_ollama
sse_starlette
langchain_chroma
bs4
langchain
langchain_huggingface
langchain_tavily
langchain-mcp-adapters
ipykernel
pypdf